<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link href='https://css.gg/arrow-right-o.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <title>Advanced chat</title>
</head>
<style>
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #23272a;
}
::-webkit-scrollbar-thumb {
  background: #36393f;
}
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #23272a;
  }

  li {
    text-decoration: none;
    list-style-type: none;
  }

  #messages {
    border-radius: 5px;
    padding: 15px;
    height: 35vh;
    overflow: auto;
    overflow-x: hidden;
    color: #fff;
    background-color: #292b2f;
  }

  .channels-block {
    background-color: #292b2f;
    width: 150px;
    height: 97vh;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn-channel {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: #292b2f;
    border-radius: 4px;
    color: #72767d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s;
  }

  .btn-channel:hover {
    transition: 0.2s;
    background-color: #36393f;
    color: #fff;
  }

  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #box1 {
    float:left;
    display:inline-block;
    width: 15%;
  }
  #box2 {
    width: 80%;
    float: right;
    display:none;
  }
  input {
    width: 95%;
    background-color: #292b2f;
    color: #fff;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius:5px;
    border-top-left-radius: 5px;
  }
  input:focus {
    outline: none;
  }
  .chat_message {
    width: 80%;
    overflow-wrap: break-word;
  }
  strong {
    color: green;
  }
  @media only screen and (max-width: 600px) {
    .channels-block {
      display: block;
      margin: 0 auto;
      height: 25vh;
      width: 92%;
      padding: 15px;
    }
    input {
      width: 85%;
    }
    #box1 {
      float: none;
      display: block;
      width: 100%;
    }
    #box2 {
      width: 100%;
      display: none;
    }
    #messages {
      height: 50vh;
    }
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<body>
  <div style="width:100%;">
    <div id="box1">
      <div class="channels-block">
        <h1 style="color: #fff; font-family: Raleway;">Channels</h1> <a href="#" style="text-decoration: none; color: #717171;" onclick="createChannel();">Create channel</a><br><br>
        <div style="display: block;" id="channels"></div>
      </div>
    </div>
    <div id="box2">
      <p id="channel_name" style="color: #fff;"></p>
      <div id="messages"></div>
      <br />
      <form action="/" method="POST" id="chatForm"> <input id="txt" autocomplete="off"
          autofocus="on" placeholder="Type your message here..." /><button style="background-color: #292b2f; padding-top: 2.5px; padding-bottom: 4px; border: none; color: #fff; border-bottom-right-radius: 5px; border-top-right-radius: 5px;">➡</button>
      </form>
    </div>
  </div>
</body>
<script>
  var socket = io.connect('http://35.235.118.35:7777/');
  var channels_list = [];
  $('form').submit(function(e) {
    e.preventDefault();
    socket.emit("encryptedUsername", username, $("#channel_name").text(), instanceid);
    socket.emit('chat_message', rc4(instanceid, $('#txt').val()), $("#channel_name").text());
    $('#txt').val('');
    return false;
  });

  function createChannel() {
    var channel_name = prompt('Name of the channel:');
    var public_channel = false;
    var key = genID(20);
    if (confirm("Public channel ? OK = Public / Cancel = Private")) {
      public_channel = true;
    } else {
      public_channel = false;
      key = prompt("Password for the channel:");
    }
    socket.emit('create_chat', channel_name, key, public_channel);
  }
  socket.on('channels', function(channels) {
    if (channels_list.length != channels.length) {
      channels_list = channels;
      $("#channels").empty();
      for (const element of channels) {
        $("#channels").append($("<a class=\"btn-channel\" onclick=\"switchChannel('" + element + "');\">").html("# " + element)).append("<br>").append("<br>");
      }
    }
  });
  socket.on('chat_message', function(msg, chat_name) {
    if (chat_name == $("#channel_name").text())
      $('#messages').append($('<li class="chat_message">').html(rc4(instanceid, msg)));
  });
  var islogging = false;
  while (!islogging) {
    var username = prompt('Username:');
    if (username != "" && username != null && username != undefined)
      islogging = true;
  }
  socket.emit('username', username);
  var requestID = "";

  function switchChannel(channel) {
    $("#messages").empty();
    requestID = genID(10);
    socket.emit('get_key', channel, requestID);
  }
  socket.on('set_key', function(key, channel, requestid) {
    if (requestid == requestID) {
      $("#channel_name").text(channel);
      $("#box2").css("display", "inline-block");
      instanceid = key;
    }
  });
  socket.on('invalid_key', function(user, chat_name) {
    if (chat_name == $("#channel_name").text() && user == username) {
      $("#box2").css("display", "none");
      alert("Invalid key detected in channel: " + chat_name);
    }
  });
  socket.on('need_password', function(channel, requestid) {
    if (requestid == requestID) {
      var password = prompt("Password (if incorrect you wont be able to receive / send messages):");
      $("#channel_name").text(channel);
      $("#box2").css("display", "inline-block");
      instanceid = password;
      socket.emit("encryptedUsername", username, $("#channel_name").text(), instanceid);
    }
  });

  function rc4(key, str) {
    var s = [],
      j = 0,
      x, res = '';
    for (var i = 0; i < 256; i++) {
      s[i] = i;
    }
    for (i = 0; i < 256; i++) {
      j = (j + s[i] + key.charCodeAt(i % key.length)) % 256;
      x = s[i];
      s[i] = s[j];
      s[j] = x;
    }
    i = 0;
    j = 0;
    for (var y = 0; y < str.length; y++) {
      i = (i + 1) % 256;
      j = (j + s[i]) % 256;
      x = s[i];
      s[i] = s[j];
      s[j] = x;
      res += String.fromCharCode(str.charCodeAt(y) ^ s[(s[i] + s[j]) % 256]);
    }
    return res;
  }

  function genID(length) {
    var result = '';
    var characters = 'ABDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }
</script>

</html>
